.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-container {
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 500px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.error {
  color: red;
}

.video-info {
  margin-top: 20px;
}

.video-info img {
  max-width: 500px;
  margin-top: 20px;
}

.download-container {
  margin-top: 20px;
}

select {
  padding: 10px;
  margin-right: 10px;
}
